<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_author" method="POST">
  <input type="hidden" name="sort" value="{{ sort }}">
  <input type="hidden" name="order" value="{{ order }}">
  <label for="name">Author Name:</label> 
  <input type="text" id="name" name="name" required><br><br>
  
  <label for="birthdate">Birthdate:</label> 
  <input type="date" id="birthdate" name="birthdate"><br><br> 
  <label for="date_of_death">Date of Death:</label> 
  <input type="date" id="date_of_death" name="date_of_death"><br><br>
  <button type="submit">➕👤 Add Author</button>
  </form>
  <p><a href="{{ url_for('home', sort=sort, order=order) }}">Back to home</a></p>

  </body>
</html>
